<hr style="height:3px">
<p><strong>Special thanks goes to:</strong><br>
    My amazing <a href="https://www.patreon.com/Christinna">Patrons</a>
    {%- if include.testers -%}, and the following beta testers: <i>{{-include.testers-}}</i>{%- endif -%}. <br>Thank you
    so much!</p>
<p>If you would like to support me in creating more extensions for SAMMI, you can become my <a
        href="https://patreon.com/Christinna">Patron</a> to get early free access to my extensions or make a <a
        href="https://www.paypal.com/donate/?hosted_button_id=3YWXYQE3HKWHQ">Paypal donation</a>.</p>
<p><strong>DISCLAIMER:</strong> The extension is provided as is. The developer has no obligation to provide maintenance and support services or handle any bug reports. Basic SAMMI knowledge is required to use this extension.</p>
<p><em>Feel free to edit the extension for your own use. You may not distribute, sell, or publish it without the author’s permission.</em></p>
