<hr style="height:3px">
<p><strong>Special thanks goes to:</strong><br>
My amazing <a href="https://www.patreon.com/Christinna">Patrons</a>
{%- if include.testers -%}, and the following beta testers: <i>{{-include.testers-}}</i>{%- endif -%}. <br>Thank you so much!</p>
<p>If you would like to support me developing SAMMI itself and my extensions, you can join my <a href="https://www.patreon.com/Christinna"><b>Patreon</b></a>, which will give you access to all my upcoming creations for completely free and priority help on any of my extensions.</p>
<p><em>DISCLAIMER: The extension is provided as is. The developer has no obligation to provide maintenance and support services or handle any bug reports.<br>Feel free to edit the extension for your own use. You may not distribute, sell or publish it without the author’s permission.</em></p>